h1 {
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 10px 20px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}